{% extends "base.html" %}

{% block title %}Password reset confirm{% endblock title %}

{% block content %}
    {% if validlink %}
        <p>Please enter new password to change cuurent password</p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="chnage my password">
        </form>
    {% else %}
        <p>the password link is not valid , please check once it might be useed already</p>
    {% endif %}
{% endblock content %}